{
  "extends": [
    "dsx-react",
    "dsx-react/typescript",
    "dsx-react/prettier"
  ],
  "ignorePatterns": ["coverage"],
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "overrides": [
    {
      "files": [
        "**/__tests__/*.{j,t}s?(x)",
        "**/tests/unit/**/*.spec.{j,t}s?(x)"
      ],
      "env": {
        "jest": true
      }
    }
  ]
}
